<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LTMBlockKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>LTMCoreKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LTMFoundation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LTMSecurity.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LTMiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1049809D1D3DDA51004CE136</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>104980DE1D3DDC61004CE136</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>104980EA1D3DDCFB004CE136</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAFB139F1D3CB7DD00A9967F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAFB13AC1D3CB85800A9967F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAFB13BB1D3CB8C600A9967F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAFB13C91D3CB92600A9967F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAFB13D71D3CBA4A00A9967F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAFB13E61D3CBA6D00A9967F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAFB13F51D3CBA8400A9967F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
